body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-size: cover;
    color: black;
    font-weight: bold;
    background-color: #416D19;
}

h1 {
    color: rgb(210, 162, 42);
}

#message-el {
    font-style: italic;
}

button{
    text-emphasis-color: green;
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    background-color:#FFD95A ;
    padding: 12px 25px;
    display: inline-block;
    font-size: 16px;
    margin-top: 4px;

}